@*редактирование товара*@

@model Contract
<form method="post">
<table class="table">
    <thead>
        <tr>
            <th scope="row">ФИО</th>
            <th scope="row">IP</th>
            <th scope="row">Услуга</th>
            <th scope="row">Дата</th>
        </tr>
    </thead>
    <tbody>

        <tr scope="col">
                <td><input name="Name" value="@Model.Name" /></td>
                <td><input name="IPAddress" value="@Model.IPAddress" /></td>
                <td>
                    <select name="ServiceType" class="form-select">
                        <option value="0" selected>Internet</option>
                        <option value="1">VideoControl</option>
                        <option value="2">IPTelephony</option>
                    </select>
                    <span asp-validation-for="ServiceType"></span>
                </td>
                <td><input id="date" type="date" name="Date" value="@Model.Date.Date" /></td>
        </tr>

    </tbody>
    </table>
    <button asp-controller="Edit" asp-action="SaveChanges" asp-route-id="@Model.Id" type="submit" class="btn btn-success">Сохранить</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dateInput = document.getElementById('date');
        var today = new Date().toISOString().split('T')[0];
        dateInput.setAttribute('min', today);
    });
</script>